<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/AppCall" version="1.0.0" viewmodes="maximized">
  <tizen:app-control>
    <tizen:src name="index.html"/>
    <tizen:operation name="http://tizen.org/appcontrol/operation/appcall"/>
  </tizen:app-control>
  <tizen:application id="ltcVaehBiV.AppCallee" package="ltcVaehBiV" required_version="2.3"/>
  <content src="index.html"/>
  <feature name="http://tizen.org/feature/location.gps"/>
  <feature name="http://tizen.org/feature/network.bluetooth"/>
  <feature name="http://tizen.org/feature/network.bluetooth.le"/>
  <feature name="http://tizen.org/feature/led"/>
  <icon src="icon.png"/>
  <name>AppCallee</name>
  <tizen:privilege name="http://tizen.org/privilege/alarm"/>
  <tizen:privilege name="http://tizen.org/privilege/account.write"/>
</widget>